<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.ziemba.dns2https</string>
		<key>Program</key>
		<string>/usr/local/bin/dns2https</string>
        <key>ProgramArguments</key>
        <array>
            <string>dns2https</string>
            <string>-launchd</string>
        </array>
		<key>KeepAlive</key>
		<true/>
        <key>StandardOutPath</key>
        <string>/tmp/dns2https.log</string>
        <key>StandardErrorPath</key>
        <string>/tmp/dns2https.stderr.log</string>
        <key>Sockets</key>
        <dict>
            <key>UdpListener</key>
            <dict>
                <key>SockNodeName</key>
                <string>127.0.0.1</string>
                <key>SockServiceName</key>
                <string>domain</string>
                <key>SockType</key>
                <string>dgram</string>
                <key>SockFamily</key>
                <string>IPv4</string>
            </dict>
            <key>TcpListener</key>
            <dict>
                <key>SockNodeName</key>
                <string>127.0.0.1</string>
                <key>SockServiceName</key>
                <string>domain</string>
                <key>SockType</key>
                <string>stream</string>
                <key>SockFamily</key>
                <string>IPv4</string>
            </dict>
        </dict>
	</dict>
</plist>